In [134]:
import pandas as pd

pandas dataframes
1. series
2. dataframe
3. panel
4. panel 4d

In [7]:
#How to create series

my_list = [10,20,30]

In [11]:
series = pd.Series(my_list)

In [15]:
series

0    10
1    20
2    30
dtype: int64

In [14]:
series.values

array([10, 20, 30])

In [17]:
#creating series from dictionary

d = {'a':10, 'b':20, 'c':30}
pd.Series(d)

a    10
b    20
c    30
dtype: int64

# Using Index in Series

# Dataframe basics

In [18]:
#read the data

weather_df = pd.read_csv("/Users/rd/coding stuff/python projects/weather-pandas-project/weather_2012.csv")

In [20]:
print("Shape", weather_df.shape)
print("Index", weather_df.index)

Shape (8784, 8)
Index RangeIndex(start=0, stop=8784, step=1)

In [21]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [25]:
weather_df['Date/Time'].head()

0    2012-01-01 00:00:00
1    2012-01-01 01:00:00
2    2012-01-01 02:00:00
3    2012-01-01 03:00:00
4    2012-01-01 04:00:00
Name: Date/Time, dtype: object

In [27]:
type(weather_df['Date/Time'])

pandas.core.series.Series

In [31]:
weather_df['Date/Time'] = pd.to_datetime(weather_df['Date/Time'])

In [33]:
weather_df['Date/Time'].head

<bound method NDFrame.head of 0      2012-01-01 00:00:00
1      2012-01-01 01:00:00
2      2012-01-01 02:00:00
3      2012-01-01 03:00:00
4      2012-01-01 04:00:00
               ...
8779   2012-12-31 19:00:00
8780   2012-12-31 20:00:00
8781   2012-12-31 21:00:00
8782   2012-12-31 22:00:00
8783   2012-12-31 23:00:00
Name: Date/Time, Length: 8784, dtype: datetime64[ns]>

In [35]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

In [46]:
#use .unique() to get unique values from dataset
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [47]:
weather_df['Weather'].nunique()

50

In [48]:
weather_df['Weather'].value_counts()

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

# Basic data Manipulation

In [52]:
#get one coloum from dataframe

coloum = weather_df['Weather']
coloum.head(5)

0                     Fog
1                     Fog
2    Freezing Drizzle,Fog
3    Freezing Drizzle,Fog
4                     Fog
Name: Weather, dtype: object

In [55]:
#get multiple coloums from dataframe

coloums = weather_df[['Weather', 'Date/Time']]

In [56]:
coloums.head()

                Weather           Date/Time
0                   Fog 2012-01-01 00:00:00
1                   Fog 2012-01-01 01:00:00
2  Freezing Drizzle,Fog 2012-01-01 02:00:00
3  Freezing Drizzle,Fog 2012-01-01 03:00:00
4                   Fog 2012-01-01 04:00:00

In [59]:
#slicing

weather_df[0:10:2][['Weather','Date/Time']]

                Weather           Date/Time
0                   Fog 2012-01-01 00:00:00
2  Freezing Drizzle,Fog 2012-01-01 02:00:00
4                   Fog 2012-01-01 04:00:00
6                   Fog 2012-01-01 06:00:00
8                   Fog 2012-01-01 08:00:00

Avoid the sciling we did above with large datasets because pandas will might create ebtire copy of dataset and create new dataframe. Use loc and iloc functions

Loc = it goes by label base. for eg. it will fetch the values of column based on index column present in data\



i loc = it goes by internal indexing which is python index which start from 0

# Filtering

In [67]:
#filtering the data based on word = "snow"

snowed_filter = weather_df['Weather'].str.lower().str.contains('snow')

In [71]:
snowed_filter

0       False
1       False
2       False
3       False
4       False
        ...
8779     True
8780     True
8781     True
8782     True
8783     True
Name: Weather, Length: 8784, dtype: bool

In [72]:
weather_df[snowed_filter]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
41,2012-01-02 17:00:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,2012-01-02 20:00:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,2012-01-02 23:00:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,2012-01-03 00:00:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [79]:
#apply arithmetic operations on column

addition_df = weather_df['Visibility (km)']+3

In [80]:
addition_df.head()

0    11.0
1    11.0
2     7.0
3     7.0
4     7.8
Name: Visibility (km), dtype: float64

In [82]:
division_df = weather_df['Visibility (km)']/2

In [83]:
division_df

0       4.00
1       4.00
2       2.00
3       2.00
4       2.40
        ...
8779    4.85
8780    4.85
8781    2.40
8782    4.85
8783    5.65
Name: Visibility (km), Length: 8784, dtype: float64

In [89]:
#add "Temp(c)" and "dew point temp(c)" columns as series "tempreture"

weather_df['new_temp_col'] = weather_df["Temp (C)"] + weather_df["Dew Point Temp (C)"]

In [90]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp_col
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8

# Appy/ call functions

## .apply()

In [93]:
#applying custom function

def times2 (value):
    return value *2

In [94]:
T2 = weather_df["Visibility (km)"].apply(times2)

In [95]:
T2

0       16.0
1       16.0
2        8.0
3        8.0
4        9.6
        ...
8779    19.4
8780    19.4
8781     9.6
8782    19.4
8783    22.6
Name: Visibility (km), Length: 8784, dtype: float64

## .describe()

In [96]:
weather_df.describe()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),new_temp_col
count,8784,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,2012-07-01 23:30:00,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623,11.353438
min,2012-01-01 00:00:00,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000,-51.800000
25%,2012-04-01 11:45:00,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000,-5.300000
50%,2012-07-01 23:30:00,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000,12.200000
75%,2012-10-01 11:15:00,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000,30.600000
max,2012-12-31 23:00:00,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000,53.400000
std,NaN,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005,22.188521

# Adding/updating columns

In [99]:
Visibility_in_meter = weather_df["Visibility (km)"] * 1000
weather_df["Visibility (m)"] = Visibility_in_meter

In [102]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp_col,Visibility (m)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2,4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7,4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8,4800.0

# .rename()

In [103]:
#remember to use inplace = True paramater(it rename column in old dataframe itself)

weather_df.rename(columns ={'Visibility (m)': 'Visibility (meters)'}, inplace= True)

In [123]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp_col,Visibility (meters)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2,4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7,4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8,4800.0

# .drop()

In [106]:
weather_df.drop(labels=['Visibility (meters)'], axis =1)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp_col
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow,-2.6
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow,-2.2
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow,-2.0
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow,-2.0
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow,-2.1

# .sort_values()

In [107]:
Sorted_by_temp = weather_df.sort_values('Temp (C)', ascending = False) #can be inplace as well

In [109]:
Sorted_by_temp

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp_col,Visibility (meters)
4695,2012-07-14 15:00:00,33.0,16.8,38,22,48.3,101.31,Mainly Clear,49.8,48300.0
4143,2012-06-21 15:00:00,33.0,19.0,44,24,24.1,100.20,Mainly Clear,52.0,24100.0
4696,2012-07-14 16:00:00,32.9,15.3,35,24,48.3,101.26,Mainly Clear,48.2,48300.0
5199,2012-08-04 15:00:00,32.8,18.8,44,17,24.1,101.39,Clear,51.6,24100.0
4694,2012-07-14 14:00:00,32.7,15.3,35,28,48.3,101.35,Mainly Clear,48.0,48300.0
...,...,...,...,...,...,...,...,...,...,...
338,2012-01-15 02:00:00,-21.4,-26.6,63,9,25.0,101.99,Cloudy,-48.0,25000.0
345,2012-01-15 09:00:00,-22.2,-27.8,60,9,48.3,102.57,Mainly Clear,-50.0,48300.0
343,2012-01-15 07:00:00,-22.8,-28.0,62,9,25.0,102.37,Mainly Clear,-50.8,25000.0
342,2012-01-15 06:00:00,-23.2,-28.5,62,7,25.0,102.28,Mostly Cloudy,-51.7,25000.0
344,2012-01-15 08:00:00,-23.3,-28.5,62,7,24.1,102.45,Clear,-51.8,24100.0

# Pivot Tables: Best way to summarize your data

In [116]:
!pip install numpy
import numpy as np

Requirement already satisfied: numpy in /Users/rd/anaconda3/lib/python3.11/site-packages (1.24.3)

# Group By

In [139]:
mean_temp_df3 = weather_df.groupby(weather_df['Date/Time'].dt.month).mean(['Temp (C)']).reset_index()

In [140]:
mean_temp_df3.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),new_temp_col,Visibility (meters)
0,1,-7.371505,-12.294758,68.383065,18.108871,22.100269,101.005349,-19.666263,22100.268817
1,2,-4.225000,-9.221695,68.956897,14.837644,25.182184,101.142414,-13.446695,25182.183908
2,3,3.121237,-3.488575,64.862903,14.514785,26.177957,101.335255,-0.367339,26177.956989
3,4,7.009306,-1.934583,56.150000,17.369444,31.777083,100.716833,5.074722,31777.083333
4,5,16.237769,8.080780,61.760753,12.846774,29.418548,101.057164,24.318548,29418.548387

# Concat, Merge and Join

In [143]:
#concat

# concat_df = pd.concat([df1,df2,df3])

# working with Date Time

In [145]:
import pandas as pd
import numpy as np

In [152]:
#converting string to datetime

df = pd.DataFrame({'date': ['01/01/2023', '02/02/2023', '02/02/2023'], 'value': [2,3,4]})

In [153]:
df

         date  value
0  01/01/2023      2
1  02/02/2023      3
2  02/02/2023      4

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   value   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [165]:
#day first format
df['date'] = pd.to_datetime(df['date'], dayfirst = True)

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
 1   value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 180.0 bytes

In [164]:
df

        date  value
0 2023-01-01      2
1 2023-02-02      3
2 2023-02-02      4

In [167]:
#custom format

df['date'] = pd.to_datetime(df['date'], format = "%Y-%d-%m %H:%M:%S")

In [168]:
df

        date  value
0 2023-01-01      2
1 2023-02-02      3
2 2023-02-02      4

In [172]:
#handling parsing data
df['date'] = pd.to_datetime(df['date'], errors = 'ignore')

In [173]:
df

        date  value
0 2023-01-01      2
1 2023-02-02      3
2 2023-02-02      4

In [177]:
#get year, month or day

df['year']= df['date'].dt.year
df['month']= df['date'].dt.month
df['day']= df['date'].dt.day

In [179]:
df['year']
df['month']
df['day']

0    1
1    2
2    2
Name: day, dtype: int32

# working with different file formates

In [180]:
import json

In [181]:
data = {
    "President": {
        "name": "zaphod beeblerox",
        "species": "betelgeusian"
    }
}

In [182]:
with open("data_file.json", "w") as write_file:
    json.dump(data, write_file)

In [185]:
data

{'President': {'name': 'zaphod beeblerox', 'species': 'betelgeusian'}}

# You can also read JSON as DataFrame in pandas

In [189]:
jsonStr = '''{"index0":{"courses": "pandas", "discount":"1200"},
            "index1":{"courses": "hadoop", "discount": "1500"},
            "index2": {"courses": "spark", "discount": "1800"}
            }'''

In [193]:
#convert Json to datafram using read_json()
import pandas as pd

df2 = pd.read_json(jsonStr, orient = 'index')

/var/folders/vl/pns9sf05583cr7wp8dl9pyf80000gn/T/ipykernel_37328/2057749179.py:4: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df2 = pd.read_json(jsonStr, orient = 'index')

In [194]:
df2

       courses  discount
index0  pandas      1200
index1  hadoop      1500
index2   spark      1800

In [196]:
#convert disct to DF

df3 = pd.DataFrame.from_dict(data['President'], orient = 'index')

In [197]:
df3

                        0
name     zaphod beeblerox
species      betelgeusian

#

# Working with CSV files

In [201]:
#read csv in python using read_csv()

#df = pd.read_csv('file path')

In [202]:
#write data to csv

#df.to_csv('file path')

# working with Excel files

In [203]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/rd/anaconda3/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in /Users/rd/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [208]:
#writing data and saving excel file

from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "Hello"
sheet["B1"] = "world"

workbook.save(filename = "hello_world.xlsx")

In [210]:
#reading excel file

from openpyxl import load_workbook
workbook = load_workbook(filename = '/Users/rd/coding stuff/python Learning/hello_world.xlsx')

In [216]:
workbook.sheetnames
['Sheet']

['Sheet']

In [217]:
Sheet = workbook.active

In [218]:
Sheet

In [219]:
Sheet.title

'Sheet'

In [222]:
Sheet['A2'].value

1

In [223]:
Sheet.cell(row=1, column =2).value

'world'

In [224]:
Sheet["A1:B2"]

((<Cell 'Sheet'.A1>, <Cell 'Sheet'.B1>),
 (<Cell 'Sheet'.A2>, <Cell 'Sheet'.B2>))

In [225]:
for row in Sheet.iter_rows(values_only = True):
    print(row)

('Hello', 'world')
(1, 7)
(2, 7)
(3, 6)
(4, 2)
(5, 3)
(6, 4)
(7, 53)
(3, 7)
(9, 8)
(0, 0)

# You can read excel file as dataframe using pandas

In [226]:
excel_df = pd.read_excel('/Users/rd/coding stuff/python Learning/hello_world.xlsx')

In [227]:
excel_df

   Hello  world
0      1      7
1      2      7
2      3      6
3      4      2
4      5      3
5      6      4
6      7     53
7      3      7
8      9      8
9      0      0

In [228]:
#excel_df.to_excel('file name to save file')

# Working with AVRO

In [230]:
pip install avro-python3

Collecting avro-python3
  Downloading avro-python3-1.10.2.tar.gz (38 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: avro-python3
  Building wheel for avro-python3 (setup.py) ... done
  Created wheel for avro-python3: filename=avro_python3-1.10.2-py3-none-any.whl size=43993 sha256=cda94a3917609f27b2e88f4efb5fddbf18f93c5005e7fcd8222ad8cab5a0f0a3
  Stored in directory: /Users/rd/Library/Caches/pip/wheels/31/be/50/1145d9510eb4440893fc0ec676ef9464a05e0f7492a76fbb2c
Successfully built avro-python3
Installing collected packages: avro-python3
Successfully installed avro-python3-1.10.2
Note: you may need to restart the kernel to use updated packages.

In [235]:
# python 3 with "avro-python3" package available 

import copy
import json
import avro

from avro.datafile import DataFileWriter, DataFileReader
from avro.io import DatumWriter, DatumReader

In [237]:
#we combined namespace and name to get "full name"

schema = {
    'name': 'avro.example.User',
    'type': 'record',
    'fields': [
        {'name': 'name', 'type': 'string'},
        {'name': 'age', 'type': 'int'}
    ]
}

# parse the schema so we can use it to write the data
schema_parsed = avro.schema.Parse(json.dumps(schema))

In [238]:
schema_parsed

In [239]:
#write data to an avro file

with open('users.avro', 'wb') as f:
    writer = DataFileWriter(f, DatumWriter(), schema_parsed)
    writer.append({'name': 'john smith', 'age': 77})
    writer.append({'name': 'david goggings', 'age': 54})
    writer.close()

In [241]:
#read the data from an avro file

with open('users.avro', 'rb') as f:
    reader = DataFileReader(f, DatumReader())
    metadata = copy.deepcopy(reader.meta)
    schema_from_file = json.loads(metadata['avro.schema'])
    users = [user for user in reader]
    reader.close()

In [245]:
print(F'Schema that we specified: \n {schema}')
print(F'Schema that we specified: \n {schema_parsed}')
print(F'schema from users.avro file:)\n {schema_from_file}')
print(F'Users:\n {users}')

Schema that we specified:
 {'name': 'avro.example.User', 'type': 'record', 'fields': [{'name': 'name', 'type': 'string'}, {'name': 'age', 'type': 'int'}]}
Schema that we specified:
 {"type": "record", "name": "User", "namespace": "avro.example", "fields": [{"type": "string", "name": "name"}, {"type": "int", "name": "age"}]}
schema from users.avro file:)
 {'type': 'record', 'name': 'User', 'namespace': 'avro.example', 'fields': [{'type': 'string', 'name': 'name'}, {'type': 'int', 'name': 'age'}]}
Users:
 [{'name': 'john smith', 'age': 77}, {'name': 'david goggings', 'age': 54}]

In [247]:
#Reading Avro Using Pandas

!pip install pandavro

Collecting pandavro
  Obtaining dependency information for pandavro from https://files.pythonhosted.org/packages/3b/74/13b8900ee2c617e5c782b1f2524122addf508030abe28cbe9106e3540110/pandavro-1.8.0-py3-none-any.whl.metadata
  Downloading pandavro-1.8.0-py3-none-any.whl.metadata (8.5 kB)
Collecting fastavro<2.0.0,>=1.5.1 (from pandavro)
  Obtaining dependency information for fastavro<2.0.0,>=1.5.1 from https://files.pythonhosted.org/packages/91/c5/4cf8e81f92bcbc44c31de9e44a12eed5cd2f92704bea0fc2122ab4a38f3c/fastavro-1.9.2-cp311-cp311-macosx_10_9_universal2.whl.metadata
  Downloading fastavro-1.9.2-cp311-cp311-macosx_10_9_universal2.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.1 in /Users/rd/anaconda3/lib/python3.11/site-packages (from pandavro) (2.1.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/rd/anaconda3/lib/python3.11/site-packages (from pandavro) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/rd/anaconda3/lib/python3.11/site-packages (from pandas>=1.1->pandavro) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/rd/anaconda3/lib/python3.11/site-packages (from pandas>=1.1->pandavro) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/rd/anaconda3/lib/python3.11/site-packages (from pandas>=1.1->pandavro) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/rd/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.1->pandavro) (1.16.0)
Downloading pandavro-1.8.0-py3-none-any.whl (8.8 kB)
Downloading fastavro-1.9.2-cp311-cp311-macosx_10_9_universal2.whl (1.1 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1.1/1.1 MB 807.4 kB/s eta 0:00:0000:0100:01
Installing collected packages: fastavro, pandavro
Successfully installed fastavro-1.9.2 pandavro-1.8.0

In [248]:
import copy
import json
import pandas as pd
import pandavro as pdx
from avro.datafile import DataFileReader
from avro.io import DatumReader

In [259]:
#Data to be saved

users = [{'name': 'johny deep', 'age': 65},
    {'name': 'perier morgon', 'age': 76}]

users_df = pd.DataFrame.from_records(users)

In [260]:
print(users_df)

            name  age
0     johny deep   65
1  perier morgon   76

In [261]:
pdx.to_avro('/Users/rd/coding stuff/python Learning/user_test.avro', users_df)

In [263]:
#read the data back

users_df_reduce = pdx.from_avro('/Users/rd/coding stuff/python Learning/user_test.avro')

In [264]:
users_df_reduce

            name  age
0     johny deep   65
1  perier morgon   76